.main-contents {
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.main-contents {
    margin-bottom: 10rem;
}

.main-line {
    border: 0;
    height: 1px;
    background: #000;
    padding-bottom: 1px;
}


.main-contents > div {
    width: 80%;
    margin: 0 auto;
}


